################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin/Debug/net6.0
/obj
/Features/Calculator.feature
/Features/Calculator.feature.cs
/StepDefinitions/CalculatorStepDefinitions.cs
/Helpers/Webdriverexample.txt
/UnitTest1.cs
